<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <form action="/update" method="POST">
        <input name="user_name" type="text" required="1" placeholder="name of purchaser">
        <input name="mobile_no" type="number" required="1" placeholder="enter mobile number">
        <input name="product_name" type="text" required="1" placeholder="what products are purchasing">
        <input name="quantity" type="number" required="1" placeholder="product quntity">
        <input type="submit" value="submit">
    </form>
</body>
</html>